<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>vue-todo</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but vue-todo doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div class="grey darken-1 empty-layout">
    	<div class="">
        <form action="" class="card auth-card">
          <div class="card-content">
            <span class="card-title">
              Register
            </span>
            <div class="input-field col l12 ">
              <input id="Login" type="text" class="validate">
              <label for="Login" class="">Login</label>
            </div>
            <div class="input-field col l12 ">
              <input id="password" type="text" class="validate">
              <label for="password" class="">Password</label>
            </div>
            <div class="input-field col l12 ">
              <input id="Name" type="text" class="validate">
              <label for="Name" class="">Name</label>
            </div>
          </div>
          <div class="card-action">
            <div>
              <button
                  style="width: 100%"
                  class="center btn waves-effect waves-light auth-submit"
              >
                Зарегистрироваться
                <i class="material-icons right">send</i>
              </button>
            </div>

            <p class="center">
              Есть аккаунт? Войти
            </p>
          </div>
        </form>
      </div>
    </div>
  </body>
  <style>
  	.empty-layout{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-align-items:center;-ms-flex-align:center;align-items:center;padding-top:5rem;height:100vh}
    .auth-card{width:500px}
    .card-title {
      padding-top: 0rem;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>